@model KitaplikApp.Models.Kategoriler

<div>
    <dl class="row">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.KategoriAdi)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.KategoriAdi)
        </dd>
    </dl>
</div>