@model KitaplikApp.Models.Yazarlar

<div>
    <dl class="row">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.YazarAdi)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.YazarAdi)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Biyografi)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Biyografi)
        </dd>
    </dl>
</div>